<script setup lang="ts">
import FoodDisplay from "@/components/FoodDisplay.vue";
import { type Food } from "@pantry/model"
import { ref } from 'vue'

const food = ref<Food>({ id: 1, name: 'My food'})
</script>

<template>
  <FoodDisplay :food="food"/>
</template>
